.primary-container-0989kl {
  padding: 20px 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.client-container-outer-674pl {
  width: 100%;
  display: flex;
  justify-content: center;
}
